{% extends "layouts/base.html.twig" %}

{% block body %}
    <header>
        {% include ('layouts/partials/header.html.twig') %}
    </header>

    <main class="container py-5">
        <div class="card">
            <div class="card-header">
                Password Geneartor
            </div>
            <div class="card-body">
                <form method="get" action="{{ path('app_generate_password') }}">
                    <div class="row">
                    {# Choisir la longueur de caractères #}
                    <div class="col-6 p-4">
                        <label class="form-label" for="length">Length</label>
                        <select class="form-select" name="length" id="length">
                            {% for i in 8..50 %}
                                <option
                                    value="{{ i }}"
                                        {{ i == 16 ? 'selected' }}
                                >
                                    {{ i }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {# Choix des options #}
                    <div class="col-6 p-4">
                        <div class="ms-auto">
                            <input class="form-check-input" type="checkbox" id="uppercase_letters" name="uppercase_letters">
                            <label class="form-check-label" for="uppercase_letters">Uppercase Letters</label>
                        </div>
                        {##}
                        <div class="">
                            <input class="form-check-input" type="checkbox" id="characters_specials" name="special_characters">
                            <label class="form-check-label" for="characters_specials">Characters Specials</label>
                        </div>

                        <div class="">
                            <input class="form-check-input" type="checkbox" id="digits" name="digits">
                            <label class="form-check-label" for="digits">Digits</label>
                        </div>
                    </div>
                </div>
                    <div class="row">
                    <div class="col">
                        <button class="d-block btn btn-primary w-100" type="submit">Generate Password</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </main>


    <footer>
        {% include('layouts/partials/footer.html.twig') %}
    </footer>
{% endblock %}
