{% extends 'layouts/base.html.twig' %}

{% block body %}
    <header>
        {% include ('layouts/partials/header.html.twig') %}
    </header>

    <h1>Mamma mia!</h1>

    <p>{{ password }}</p>
{% endblock %}