{% extends 'layouts/base.html.twig' %}

{% block body %}
    <header>
        {% include ('layouts/partials/header.html.twig') %}
    </header>

    <main class="container py-5 col-6">
        <div id="flashMessage" class="alert alert-success d-none">Password Copied.</div>
        <div class="card">
            <div class="card-header">
                <h3 class="text-muted text-center">🚀 Fire 🎉</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {# Affichage du mot de passe généré #}
                    <div class="col-9 py-3 text-center">
                        <p id="password-generate" class="lead rounded p-2 text-dark font-bold" style="background-color: #9fe2cb">{{ password }}</p>
                    </div>
                    {# Icône de copie de mot de passe #}
                    <div class="col-3 my-auto h3">
                        <i id="iconCopy" onclick="copyPassword()" class="fas fa-copy text-primary"></i>
                    </div>
                </div>
                <div class="d-flex d-flex justify-content-between">
                    <button class="btn btn-sm btn-outline-success w-50 me-1" onclick="refresh()" type="submit">Generate another password</button>
                    <a class="btn btn-sm btn-outline-primary w-50 ms-1" href={{ path('app_home')}} >Go back Home</a>
                </div>
            </div>
        </div>
    </main>

    <script>
        const text_to_copy = document.getElementById("password-generate").innerHTML;

        // Copier le mot de passe
        function copyPassword() {
            navigator.clipboard.writeText(text_to_copy)
            setTimeout("showFlashMessage()", 200)
        }

        // Afficher et retirer le flash message
        function showFlashMessage() {
            const showing = document.querySelector('#flashMessage')
            showing.classList.remove('d-none')

            setTimeout(function(){
                showing.classList.add('d-none');
            },3000)
        }

        // Rafraichir la page
        function refresh() {
            location.reload();
        }
    </script>

    <footer>
        {% include('layouts/partials/footer.html.twig') %}
    </footer>

{% endblock %}