<main id="footer" class="bg-dark text-center fixed-bottom py-3">
    <div class="text-white">
        <p>{{ "now"|date("Y")  }} | Fait avec <span class="text-danger h5">&hearts;</span> par <strong>Papoel</strong></p>
        <div>
            <span>Formation By
                <a target="_blank" href="https://parlonscode.com/">Parlons Code</a>
            </span>
        </div>
    </div>
</main>